*{
    padding: 0;
    margin: 0;
    list-style: none;
    color: #555;
}
.form{
    width: 1000px;
    margin: 50px auto 0 auto;
}
.form__general-window{
    width: 708px;
    height: 200px;
    float: right;
}
.form__input{
    margin-bottom: 5px;
}
.form__show-block{
    position: relative;
    width: 350px;
    height: 290px;
    display: none;
    float: right;
    right: 220px;
    top: 200px;
}
.form__showPrint{
    width: 353px;
    min-height: 290px;
    padding: 25px;
    border: 1px solid #cccccc;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
}
.form__showPrint-close{
    width: 40px;
    height: 30px;
    border-radius: 4px;
    font-size: 9px;
    position: absolute;
    top: 2px;
    right: 0;
}
dl{
    display: block;
}
dt{
    font-style: italic;
    display: block;
}
dd{
    display: inline-block;
    font-weight: bold;
    margin-left: 100px;
    border-bottom: 1px dashed #cccccc;
}

.form_border-bottom_1px{
    border-bottom: 1px solid #cccccc;
}
.viewGroup{
    width: 290px;
    min-height: 302px;
    border: 1px solid #cccccc;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.groupTitle{
    text-align: center;
    margin-bottom: 20px;
}
.peopleGroup{
    text-align: center;
    margin-top: 10px;
}
.itemGroup{
    list-style: circle;
    width: 269px;
    text-align: left;
    display: block;
}
.itemGroup:before{
    content: '-';
    margin-right: 3px;
}
.itemGroup button{
    margin-left: 3px;
}
.itemGroup button:first-of-type{
    color: #b92c28;
}
.itemGroup button:last-of-type{
    color: #204d74;
}
.form_button-print{
    width: 118px;
    height: 40px;
    border-radius: 4px;
    float: right;
}
.form_button-create{
    width: 118px;
    height: 40px;
    border-radius: 4px;
    float: left;
}
.form_button-save{
    width: 118px;
    height: 40px;
    border-radius: 4px;
    float: left;
    position: relative;
    left: -118px;
    display: none;
}
.form_button-delete{
    width: 118px;
    height: 40px;
    border-radius: 4px;
    float: left;
    position: relative;
    left: -80px;
    display: none;
}
.view-tab{
    width: 708px;
    float: right;
    margin-bottom: 20px;
}
.tab-pane{
    width: 708px;
    height: 260px;
    border: 1px solid #cccccc;
    border-bottom-right-radius: 4px;
    border-top: none;
    padding: 10px;
}
.form-control{
    width: 200px;
}
.memberButton{
    padding: 0 2px;
    height: 15px;
    font-size: 10px;
    float: right;
}
